*, *::before, *::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(34, 95%, 74%);
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.start-screen span{
  color: #23234c;
  text-transform: lowercase;
  display: block;
}

.title{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 70px;
  animation: text 3s 1;
}

@keyframes text {
  0%{
    color:hsl(34, 95%, 74%);
    margin-bottom: -70px;
    letter-spacing: -10px;
  }
}

.start-screen img:nth-child(1) {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px; /* Adjust as necessary */
  height: auto;
}

.start-screen img:nth-child(2) {
  width: 600px; /* Adjust as necessary */
  height: auto;
  margin-bottom: 2em;
}

.start-screen button {
  font-size: 2;
  font-weight: 600;
  background-color: #6ef79c;
  border-radius: 20em;
  border: none;
  cursor: pointer;
  color: #23234c;
  padding: 0.8em 2em;
}

.container {
  background-color: hsl(61, 95%, 78%);
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(61, 95%, 78%);
  border-bottom-right-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px; /* Adjust width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
}

.score h1 {
  font-size: 1.2em;
  color: #23234c;
  font-weight: 500;
  margin-bottom: 0.5em;
}

#score {
  font-size: 1.5em;
  color: #23234c;
}

h3 {
  font-size: 1.2em;
  color: #23234c;
  font-weight: 500;
  line-height: 1.8em;
  margin-bottom: 0.8em;
}

.question {
  font-size: 1.1em;
  color: #23234c;
  margin-bottom: 2em;
}

.timer-bar {
  position: relative;
  width: 400px;
  height: 2em;
  margin-top: 1em;
  background-color: #23234c;
  border-radius: 1em;
  color: white;
}

.timer-bar::before {
  content: '';
  display: flex;
  align-items: center;
  position: absolute;
  left: .25em;
  top: .25em;
  bottom: .25em;
  width: calc(var(--width, 0) *1%);
  max-width: calc(100% - .5em);
  background-color: #6ef79c;
  border-radius: 1em;
  transition: width 0.1 linear;
}

.end-screen {
  background-color: hsl(61, 95%, 78%);
  border-radius: 25px;
  max-width: 700px;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.end-screen h1 {
  font-size: 4em;
  color: #23234c;
  margin-bottom: 0.5em;
}

.end-screen h2 {
  font-size: 2em;
  color: #23234c;
  margin-bottom: 1em;
}

.end-screen p {
  font-size: 1.6em;
  color: #23234c;
  margin-bottom: 1em;
}

.end-screen button {
  font-size: 1.2em;
  font-weight: 600;
  background-color: hsl(140, 89%, 70%);
  border-radius: 20em;
  border: none;
  cursor: pointer;
  color: #23234c;
  padding: 0.8em 2em;
}

.end-screen button:hover {
  background-color: hsl(140, 89%, 80%);
}

.end-screen button:active {
  background-color: hsl(140, 89%, 90%);
}

.leaderboard {
  background-color: hsl(61, 95%, 78%);
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.leaderboard h1 {
  font-size: 3em;
}

#input-latex {
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#submit-btn {
  font-size: 1.2em;
  font-weight: 600;
  background-color: hsl(140, 89%, 70%);
  border-radius: 20em;
  border: none;
  cursor: pointer;
  color: #23234c;
  padding: 0.6em 2em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#submit-btn:hover {
  background-color: hsl(140, 89%, 80%);
}

#submit-btn:active {
  background-color: hsl(143, 7%, 78%);
}

#return-home {
  margin-top: 2em;
  font-size: smaller;
  padding: 0.6em 1em;
}

#error-msg {
  text-align: center;
  margin-top: 1em;
  background-color: #f59fa6;
  color: #d62f2f;
  padding: 0.2em 0;
}

.hide {
  display: none;
}

.flash-red {
  animation: flash-red 0.5s;
}

@keyframes flash-red {
  0% {
    border-color: red;
    background-color: #fff4f4;
  }
  50% {
    border-color: red;
    background-color: #fbe0e0;
  }
  100% {
    border-color: #ccc;
    background-color: #fff;
  }
}

.flash-green {
  animation: flash-green 0.5s;
}

@keyframes flash-green {
  0% {
    border-color: green;
    background-color: hsl(140, 89%, 70%);
  }
  50% {
    border-color: green;
    background-color: hsl(140, 89%, 70%);
  }
  100% {
    border-color: hsl(120, 98%, 70%);
    background-color: hsl(141, 59%, 90%);
  }
}

.shadow-pop-br {
	-webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-11 14:10:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
            box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
            box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
            transform: translateX(-8px) translateY(-8px);
  }
}

